@import "../../../styles/imports.scss";

@include for-phone-only {
  .sectionCard {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.8)
    );
    padding: $padding6;
    gap: 10px;
    .section-type {
      display: flex;
      align-items: center;
      svg {
        color: $red500;
        width: 25px;
        height: 25px;
      }
      span {
        color: $gray500;
        font-weight: bold;
        letter-spacing: 5px;
      }
    }
    .section-title {
      display: flex;
      flex-direction: column;
      h3 {
        font-size: 30px;
        text-align: center;
        margin-top: -15px;
      }
      ul {
        display: flex;
        align-items: center;
        gap: 10px;
        list-style: none;
        .circle-separator {
          width: 8px;
          height: 8px;
          background-color: $gray500;
          border-radius: 50%;
          opacity: 0.5;
        }
      }
    }
    .card-List {
      display: flex;
      gap: 30px;
      align-items: center;
      .column {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
      button {
        padding: $padding4 $padding8;
        font-weight: bold;
        font-size: 12px;
      }
    }
  }
}

@include for-tablet-portrait-up {
  .sectionCard {
    display: none;
  }
}
