@import "../../../styles/imports.scss";

@include for-phone-only {
  .containerWatched {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

@include for-tablet-portrait-up {
  .containerWatched {
    display: none;
  }
}
